/* Home Slider css */
/* jssor slider loading skin spin css */
/* jssor slider loading skin spin css */
/* jssor slider loading skin spin css */
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.sidebar-posts .side-bar {
    padding-bottom: 30px;
    padding-left: 56px;
    margin-top: 100px;
}
section.marks-sheet {
    padding-top: 46px;
    padding-bottom: 30px;
}
.marks-card-student-details {
    padding-bottom: 36px;
}
tr.student-info:nth-child(2n) {
    background-color: #f1f1f1;
}
tr.heading {
    padding: 2px 14px 14px 9px;
    background: #0f75bd;
}
tr.heading th {
    padding: 12px 1px 9px 8px;
    color: white;
}
.total p {
    color: black;
}
.total-marks {
    padding-top: 7px;
    border-top: 1px solid green;
}
section.marks-sheet img {
    margin-top: -49px;
    background: #0f75bdb3;
}
tr.student-info:nth-child(2n+1) {
    background: #cccccc;
}
tr.student-info td {
    padding: 12px;
}
.marks-card-heading h6 {
    text-align: center;
    font-size: 17px;
    padding-bottom: 30px;
}
section.check-result h4 {
    font-size: 22px;
    padding-left: 15px !important;
    color: red;
    text-transform: capitalize;
}
section.check-result {
    margin-top: 53px;
}
.classes a {
    color: #fff;
    border: 1px solid;
    width: 115px !important;
    display: block;
    background: #0f75bd;
    padding: 15px;
}
.classes {
    text-align: center !important;
    margin-bottom: 9px;
    margin-top: 48px !important;
    width: 13% !important;
}
.marks-card-heading h4 {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
}
.side-bar li {
    list-style: none;
    font-size: 15px;
    border-bottom: 1px solid #adabab;
    padding-bottom: 7px;
    width: 82%;
    padding-top: 7px;
    line-height: 25px;
}
section.display-post-details img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    margin-bottom: 25px;
    transition: all .2s ease-in-out;
}
img.aligncenter.size-full.wp-image-295 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.news-sidebar {
    padding-top: 16px;
    padding-bottom: 16px;
}
.category-sidebar {
    padding-top: 16px;
}
.blog-next-homepage:nth-child(3), .blog-next-homepage:nth-child(4) {
    margin-top: 2px;
}
.side-bar h4 {
    color: #206ba5;
    font-weight: 600;
    font-size: 17px;
}
@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.jssorb052 .i {position:absolute;cursor:pointer;}
.jssorb052 .i .b {fill:#000;fill-opacity:0.3;}
.jssorb052 .i:hover .b {fill-opacity:.7;}
.jssorb052 .iav .b {fill-opacity: 1;}
.jssorb052 .i.idn {opacity:.3;}

.jssora053 {display:block;position:absolute;cursor:pointer;}
.jssora053 .a {fill:none;stroke:#fff;stroke-width:640;stroke-miterlimit:10;}
.jssora053:hover {opacity:.8;}
.jssora053.jssora053dn {opacity:.5;}
.jssora053.jssora053ds {opacity:.3;pointer-events:none;}

/*End of home slider css */

#tophead {
    background-color: #206ba5 !important;
}
.blue-content {
    background: #206ba5;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
body{margin-top:50px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
.dash-head-left {
    width: 22% !important;
    background: #ff3609;
}
section.dashboard-page {
    margin-top: 19px;
}
.carousel-indicators {
    bottom: -37px !important;
}
section.testinomial h2 {
    border-left: 4px solid #ff6000;
    /* color: #00387d; */
    display: inline-block;
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 30px;
    padding-left: 15px;
    margin-top: 51px;
    color: #fff;
}
.item img {
       border-radius: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 80px;
}
.margin-left {
    margin-left: 36.333333% !important;
}
.carousel-captio h3, .carousel-captio p {
    color: #fff;
}
section.testinomial {
    height: auto;
    padding-top: 41px;
    padding-bottom: 40px;
    background: #495683;
}
.carousel-inner {
    text-align: center;
}
.carousel-control.left,.carousel-control.right {
    background-image: none !important;
}
.form-group {
    padding-bottom: 45px;
}
p.user-info-head {
    font-size: 16px;
    font-weight: 600;
    color: #0f75bd;
}
.dash-body {
    margin-top: 129px;
}
.userprofile-bg {
    background-color: #40454a;
    width: 250px;
    height: 250px;
    margin-left: 0px;
    margin-top: 24px;
}
p.dash-head-text {
    padding-top: 18px;
    text-align: center;
    font-size: 24px;
    color: white;
}
.left-widget .side-bar {
    padding-left: 41px;
    margin-top: 42px;
    padding-bottom: 30px;
}
h4.dash-head-text {
    text-align: center;
    color: white;
    padding-bottom: 15px;
    font-size: 17px;
}
.dash-head-mid-left {
    margin-left: 39px;
    width: 22% !important;
    background: green;
}
.dash-head-mid-right {
    margin-left: 39px;
    width: 22% !important;
    background: skyblue;
}
.dash-head-right {
    margin-left: 39px;
    width: 22% !important;
    background: #0054d2;
}
.section-title {
    margin-bottom: 15px;
    text-align: left;
    border: none;
    padding: 0;
    font-weight: normal;
    font-size: 40px;
    color: #fff;
}
.replied-message {
    margin-top: 36px;
}
.priority-message h4{
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 21px;
}
.replied-message h4,.checked h4 {
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 21px;
}
section.home-photo-gallery h4 {
    border-left: 4px solid #ff6000;
    color: #00387d;
    display: inline-block;
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 30px;
    padding-left: 15px;

}
section.home-photo-gallery {
    background: #f7fcfe;
    padding-bottom: 68px;
}
.girl-con {
    padding-bottom: 50px;
    margin-top: 43px;
}
div#wowslider-container1 {
    margin: auto;
    width:100%;
}
.checked {
    margin-top: 15px;
    padding-left: 0px !important;
}
section.home-parallex {
    margin-top: 0px !important;
    margin-bottom: 50px;
}
.text {
    padding-top: 42px;
    padding-left: 43px;
}
.footer {
    background:#495683;
    color: #fff;
   text-align: left ;
    font-size: 17px;
    padding-top: 30px;

    margin-top: 0px;
}
.footer_second {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer ul li {
    list-style: none;
    margin-left: 0px;
}
.footer h3 {
    margin-top: 10px;
    margin-bottom: 35px;
}
.footer ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-left: 4px;
    line-height: 30px;
}
.footer a {
    color: #ffffff;}
.girl-con {
    padding-bottom: 50px;
}
.learn-more {
    border: 2px solid rgba(255, 255, 255, 0.73);
    border-radius: 0;
    color: #ffffff;
    padding: 9px 10px;
    transition: all 0.2s ease 0s;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 5px;
}
section.about {
    background: url(/images/team.jpg);
    width: 100%;
    height: 510px;
    background-size: cover;
    background-repeat: no-repeat;
}
section.school-banner {
    background: url(http://myschool.nepgeeks.com/wp-content/uploads/2017/05/school.jpg);
    width: 100%;
    height: 278px;
    background-size: cover;
    background-repeat: no-repeat;
}
section.school-library {
    background: url(/images/library.jpg);
    width: 100%;
    height: 510px;
    background-size: cover;
    background-repeat: no-repeat;
}
section.school-lab-science {
 margin-bottom:20px;
    background: url(/images/sciencelab.jpg);
    width: 100%;
    height: 510px;
    background-size: cover;
    background-repeat: no-repeat;
}
img.aligncenter.size-full.wp-image-295 {
    padding-bottom: 20px;
    padding-top: 20px;
}
section.school-computer {
    background: url(http://myschool.nepgeeks.com/wp-content/uploads/2017/05/children_school_desk_laptop_80192_1920x1080.jpg);
    width: 100%;
    height: 314px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:20px;
}
section.school-Transporatation {
    background: url(http://myschool.nepgeeks.com/wp-content/uploads/2017/05/busjh.jpg);
    width: 100%;
    height: 314px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:20px;
}
section.school-sports{
    background: url(http://myschool.nepgeeks.com/wp-content/uploads/2017/05/play1.jpg);
    width: 100%;
    height: 314px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:20px;
}
section.school-staff{
    background: url(http://myschool.nepgeeks.com/wp-content/uploads/2017/02/staff.jpg);
    width: 100%;
    height: 314px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:20px;
}
section.school-curriculum{
    background: url(http://myschool.nepgeeks.com/wp-content/uploads/2017/02/Genesis-Website-Banner6.jpg);
    width: 100%;
    height: 314px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:20px;
}
section.student-participation p {
    color: #fff;
}
.blog-next-homepage {
    height: auto;
}
.blog-next-homepage a {
    line-height: 25px;
    text-transform: capitalize !important;
}


h4.display-post-details {
    font-size: 29px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 600;
    color: #0f75bd;
    text-transform: uppercase;
}
.display-catagory-post h4.display-post-details {
    font-size: 18px;
    padding-top: 29px;
    padding-bottom: 12px;
    font-weight: 600;
    line-height: 25px;
    color: #0f75bd;
    text-transform: uppercase;
    height: 66px;
    text-align: center;
}
.display-catagory-post img {
    height: auto;
}
.blog-homepage a:hover {
    color: #fff;
}
.blog-next-homepage {
    padding-bottom: 30px;
}
section.display-post-blog ul.pagination {
    float: right;
}
section.latest-event {
    height: auto;
}
.display-catagory-post {
    height: 372px;
}
.blog-homepage a {
    color: #fff;
}
section.display-post-details p,section.display-page-details p  {
    font-size: 16px;
    color: #000;
    line-height: 22px;
}
section.display-post-details img,section.display-page-details img {
    padding-bottom: 26px;
}
.carousel-captio h3, .carousel-captio p {
    color: #fff;
    margin-bottom: 2px;
}
.carousel-captio span {
    color: #c9d6c9;
    font-size: 17px;
}
div.mce-edit-area {
    background:#681713;
    filter: none;
    height: 299px;
}
.hseb-scholar td {
    padding-left: 19px !important;
}
td.color {
    padding: 10px;
    /* color: grey; */
    background: rgba(88, 86, 86, 0.1);
}




.home-slider {
position: absolute;
top: 394px;
left: 30px;
width: 650px;
height: 69px;
z-index: 1;
background-color:rgba(131, 144, 204, 1);
font-size: 48px;
color: rgb(255, 255, 255);
line-height: 1.5;
padding-left:10px;
transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -290, 0, 1);
}

.left-right-anim{
    line-height: 52px !important;
    position:absolute;
    top:192px;
    left:-380px;
    width:500px;
    height:52px;
    padding-left:10px;

    z-index:0;
    text-transform:uppercase;
    background-color:rgba(255,131,121);
    font-size:30px;
    color:#ffffff;
    line-height:1.5;
    text-align:left;
}

.page-wrap {
    padding-left: 43px;
    padding-right: 43px;
}



table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    background-color: transparent;
}

.user-row {
    border-bottom: 1px solid #b3b2b2;
    padding-bottom: 15px;
    padding-top: 15px;
}
label.control-label {
    padding-top: 20px;
    padding-bottom: 7px;
    text-transform: uppercase;
}
.title-course {
    border-left: 4px solid #ff6000;
    color: #00387d;
    display: inline-block;
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 30px;
    padding-left: 15px;
    margin-top: 10px;
}
section.latest-event {
    background: #f7fcfe;
    padding-top: 20px;
}
section.contact-us {
    padding-bottom: 60px;
    padding-top: 59px;
    background: linear-gradient(#1514146b, #252020b0),url(/images/3/web1.jpg);
    background-repeat: no-repeat;
    max-width: 100% !important;
    background-position: center;
    background-size: cover;
}

.well.well-sm.back-ground-none .btn-primary {
    width: 100% !important;
margin-top: 33px !important;
background-color: #516381;
border-color: #516381;
}
.well.well-sm.back-ground-none  textarea.form-control {
    height: 216px;
}
.well.well-sm.back-ground-none label {
    padding-bottom: 5px;
    color: #681713;
    font-size: 16px;
}
.contact-address {
    padding-left: 45px !important;
    padding-right: 124px !important;
}
.well.well-sm.back-ground-none {
    padding-top: 41px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    background: none !important;
        margin-top: 20px;
    padding-bottom: 26px;
    border: 3px solid #516381 !important;
}
.contact-address a {
    color: #fff;
}
.contact-address legend {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
}
.contact-address {
    color: #fff;
}
.well.well-sm.back-ground-none .form-group {
    padding-bottom: 10px !important;
}
.contact-page {

    margin-bottom: 0px !important;

}
.blog-next-homepage img {
    display: inline-block;
    max-width: 100%;
    height: 260px;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.student-participation {
    background: #0f75bd;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
}
.block-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.participation-content p {
    color: #fff;
}

.block-title a {
    color: #fff;
}
.participation-readmore {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 5px 25px 8px;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    margin-top: 18px;
}
.participation-readmore {
    margin-bottom: 25px;
}
.participation-readmore a {
    color: #fff;
}
.parallax-text {
    margin-left: 20px;
    max-width: 1170px;
}
.parallax-window {
    color: #fff;
    font-size: 32px;
    text-shadow: 1px 2px 2px #000;
    padding-top: 80px;
    margin: 0 auto;
    text-align: center;
    height: 500px;
    background: transparent;
}
.parallax-text {
    padding-left: 14px;
    text-align: left;
    background: #29262669;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}
img {
    height: auto;
    max-width: 100%;
}

.featured-courses img {
    margin-top: 10px;
}
.title-head {
    padding-top: 10px;
    font-size: 19px;
    color: #253b80;
    font-weight: 400;
}
.title-head a {

    color: #253b80 !important;

}
p {
    color: #727272;
}
.featured-courses img {
    margin-top: 10px;
    height: auto;
    max-width: 100%;
}

.courses-title {
    color: #000;
    display: block;
    font-size: 17px;
    letter-spacing: 1px;
    text-align: center;
    padding: 6px 5px;
    background: rgb(221, 242, 255) none repeat scroll 0 0;
    margin: 0;
    margin-top: 10px;
}

.courses-title a {
    color: #000 !important;
}

.top-news {
    float: left;
    width: 35%;
}

.top-news-title {
    background: #ed2124 none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-left: -500px;
    padding: 25px 6px 35px 499px;
    position: relative;
}


.dataTables_scroll {
    overflow-x: scroll;
}
div#example_wrapper {

    width: 93%;
}
.top-news a {
    width: 100%;
    color: #fff;
}
 a:hover
{
    color:white !important;
    text-decoration: none !important;
}
li.menu-item {
    display: inline;
}

#top-nav ul li a {
    color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    position: relative;
    z-index: 99;
}

.top-news-title::after {
    border-left: 16px solid #ed2124;
    border-top: 49px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline;
    float: right;
    position: absolute;
    right: -16px;
    bottom: 0;
}
.news-ticker-inner-wrap {
    margin: 24px 88px;
    font-size: 19px;
}

ul#menu-home-menu-1 {
    margin-top: 9px;
    float: right;
}

.display-post-details img{
    width:100%;
}
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}
.top-nav a {
    color: #fff;

}

.dataTables_scrollHead {
    overflow: initial !important;
}
.dataTables_scrollFoot {
    overflow: initial !important;
}
.dataTables_scrollBody {
    overflow: initial !important;
}
ul.dropdown-menu {
    /* position: absolute; */
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 235px;
    transform-origin: top;
    animation-fill-mode: forwards;

    background-color: #516381;
    padding: 5px 20px 0;
}

ul.dropdown-menu li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    font-size: 14px;
    height: auto;
    padding: 10px 0;
    text-align: left;
    width: 100%;
    border-left: none;
    border-right: none;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff !important;
    text-decoration: none;
    background: none !important;
}
ul.dropdown-menu li a {
    color: #fff !important;
    padding-top: 10px;
    padding-bottom: 11px;
}
/*.panel-body {
    overflow-y: scroll;
    height: 350px;
}*/
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #0f75bd;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.navbar-inverse {
    background-color: #206ba5 !important;
    border-color: #206ba5 !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #206ba5 !important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #206ba5 !important;
}

.col-sm-8.top-nav{
    padding-top: 12px;

    font-size: 20px;
}
p.section-body {
    color: white;
    font-size: 20px;
}
nav.navbar.navbar-inverse {
    float: right;
}
.girl-con-body {
    font-size: 16px;
    text-align: justify;
}
.entry-content {
    font-size: 16px;
}
.blog_para {
    font-size: 16px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff !important;
}


@media only screen and (max-width: 1024px){
    
    section.home-photo-gallery {
    background: #f7fcfe;
    padding-top: 0px;
    padding-bottom: 60px;
}
    section.home-photo-gallery h4 {
        padding-left: 14px;
    margin-left: 43px;
}

    section.home-parallex {
    margin-top: 0px !important;
    margin-bottom: 0px;
}
.nav>li>a {
    padding: 15px 6px!important;
}
div#myNavbar {
    padding-right: 0px !important;
    margin-left: -107px;
    font-size: 12px;
    }
    .news-ticker-inner-wrap {
        margin: 27px 51px;
        font-size: 15px;
    }
    .top-news-title {
        font-size: 14px;
        font-weight: 600;
        margin-left: -500px;
        padding: 27px 5px 38px 488px;
        position: relative;
    }
  ul.nav.navbar-nav {
    margin-right: 16px;
}
div#wowslider-container1 {
    margin: auto;
    margin-left: 120px;
    width: 100%;
}
}
@media only screen and (max-width: 768px){
   section.home-photo-gallery {
    background: #f7fcfe;
    padding-bottom: 48px;
    margin-left: -54px;
}

ul.nav.navbar-nav {
    margin-right: 8px;
}
.col-sm-6.top-news {
    width: 30%;
}
.col-sm-6.top-nav {
    width: 70%;


}
div#wowslider-container1 {
    margin: auto;
    width: 87%;
    margin-left: 129px;
}
a.learn-more {
    margin-bottom: 10px;
 }
    p.section-body {
        color: white;
        font-size: 16px;
    }
    .section-title{
        font-size: 30px;
    }
    .parallax-text{
        width: 65%;
    }
}
@media only screen and (max-width: 425px){
    div#wowslider-container1 {
    margin: auto;
    width: 73%;
    margin-left: 95px;
}
.parallax-text {
    font-size: 17px;
    text-align: left;
    background: #29262669;
    width: 86%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.item img {
    margin-left: 0px;
    margin-right: 0px;
}
nav.navbar.navbar-inverse {
    width: 21% !important;
    float: right ;
}
.col-sm-6.top-nav {
     width: 100%; 
}
.col-sm-6.top-news {
    width: 72%;
}
div#myNavbar {
    padding-right: 0px !important;
    margin-left: -304px;
    padding-top: 16px;
}
    .col-sm-8.top-nav {
        padding-top: 0px ;
    }
    .news-ticker-inner-wrap {
        margin: 16px 51px;
        font-size: 13px;
    }
    .top-news-title {
        padding: 21px 1px 31px 481px;}
}
@media only screen and (max-width: 375px){
.col-sm-6.top-news {
    width: 82%;
}
nav.navbar.navbar-inverse {
    width: 0px !important;
    float: right;
}


}
@media only screen and (max-width: 320px){


section.latest-news .col-sm-6:nth-child(4) {
    clear: both;
}

}

